@font-face {
    font-family: 'Poppins';
    src: url('../web-font/Poppins-Regular.woff2') format('woff2'),
        url('../web-font/Poppins-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url('../web-font/Poppins-Medium.woff2') format('woff2'),
        url('../web-font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url('../web-font/Poppins-SemiBold.woff2') format('woff2'),
        url('../web-font/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../web-font/Poppins-Bold.woff2') format('woff2'),
        url('../web-font/Poppins-Bold.woff') format('woff');
    font-weight: 700;
}


